import os

DEBUG          = True
LIB_DIR        = os.path.join(os.path.dirname(os.path.realpath(__file__)), 'lib')
# -- Storage -----------------------------
MONGODB_HOST = 'localhost'
MONGODB_PORT = 27017
SECRET_KEY     = "sS7NtyJsD3PjE"

UPLOAD_FOLDER = "uploaded"

ALLOWED_EXTENSIONS = set(['png', 'jpg', 'jpeg', 'gif', 'mp3'])
# EOF
