!!! 5
html
	head
		title
			block title
				| TITLE

		link(rel="stylesheet",type="text/css",href="{{url_for('static', filename='css/base.css')}}")
		link(rel="stylesheet",type="text/css",href!="{{url_for('static', filename='css/nasa.css')}}")
		block extracss

	body

		script(type="text/javascript", src="{{url_for('static', filename='js/jquery172.js')}}", charset="utf-8")
		script(type="text/javascript", src="{{url_for('static', filename='js/hashchange.js')}}", charset="utf-8")
		script(type="text/javascript", src="{{url_for('static', filename='js/widget.js')}}", charset="utf-8")
		script(type="text/javascript", src="{{url_for('static', filename='js/nasa.js')}}", charset="utf-8")
		block extrajs


		script(language='javascript')
			start();
//- EOF
